PORT=5000
# For Local MongoDB:
# MONGODB_URI=mongodb://localhost:27017/study_mood_tracker

# For MongoDB Atlas (Cloud):
# MONGODB_URI=mongodb+srv://username:password@cluster.mongodb.net/study_mood_tracker

MONGODB_URI=mongodb://localhost:27017/study_mood_tracker
JWT_SECRET=your_secret_key_here_change_in_production
